.hero {
  padding: 56px 16px 80px;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.leftPart {
  flex: 0 1 700px;
  max-width: auto;
}
.rightPart {
  flex: 0 0 auto;
}
.image {
  width: clamp(360px, 38vw, 620px);
  border-radius: 30px;
  object-fit: cover;
}

.title {
  font-weight: 700;
  font-size: clamp(40px, 6vw, 100px);
  line-height: 1.05;
  margin: 0 0 20px;
}
.subtitle {
  font-family: "Lateef", serif;
  font-weight: 500;
  font-size: clamp(20px, 2.2vw, 36px);
  margin: 0 0 18px;
}
.description {
  color: #3c3c3c;
  font-size: 20px;
  font-style: 400;
  line-height: 1.7;
  max-width: 100%;
  margin: 0 0 24px;
}

.btns {
  display: inline-block;
  padding: 12px 18px;
  border-radius: 25px;
  text-decoration: none;
  margin: 5px;
}
.btnPrimary {
  background: #d0b282;
  color: #000000;
}
.btnGhost {
  background: #f3eadf;
  border: 1px solid #d0b282;
  color: #000000;
}

@media (max-width: 720px) {
  .hero {
    padding: 20px 20px 40px;
  }
  .container {
    flex-direction: column-reverse;
    gap: 28px;
  }
  .leftPart {
    max-width: 720px;
    width: 100%;
    flex: 0 1 auto;
  }
  .rightPart {
    max-width: 720px;
    width: 100%;
    /* flex: 0 0 auto; */
  }

  .title {
    font-size: clamp(32px, 10vw, 44px);
    margin-bottom: 12px;
  }
  .subtitle {
    font-size: 18px;
    margin-bottom: 12px;
  }
  .description {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 18px;
  }
  .image {
    border-radius: 14px;
    width: 90vw;
  }

  .actions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .btns {
    padding: 10px 14px;
    font-size: 14px;
  }
}
