.card {
  position: relative;
  width: 500px;
  height: 650px;
  border-radius: 48px;
  overflow: hidden;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transform: scale(1.05);
}

.internalContent {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: #fff;
  text-align: center;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.35),
    rgba(255, 255, 255, 0.15)
  );
  backdrop-filter: blur(9px) saturate(120%);
  -webkit-backdrop-filter: blur(18px) saturate(120%);
  mask-image: linear-gradient(to top, black 65%, transparent);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
}
.internalContent h1 {
  background: transparent;
  font-family: "Lateef";
  font-weight: 200;
  font-size: 56px;
}
.internalContent h2 {
  background: transparent;
  font-family: "Lateef";
  font-weight: 200;
  font-size: 24px;
}
.internalContent button {
  background: transparent;
  border-radius: 30px;
  font-size: 36px;
  padding: 0px 50px 0px;
  margin-top: 10px;
  font-weight: 600;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.35);
  border-radius: 999px;
}
.internalContent button:hover {
  transform: scale(1.1);
  cursor: pointer;
  background: rgba(255, 255, 255, 0.35);
}
