.about {
  padding: 28px 14px 40px;
}

@media (max-width: 720px) {
  .profile {
    grid-template-columns: 1fr;
    gap: 24px;
  }
  .profilePhoto {
    order: 1;
  }
  .about-content {
    order: 2;
    text-align: center;
  }
  .about__text {
    margin-inline: auto;
  }

  .about__badge {
    right: 0;
    bottom: 10px;
    transform: translateX(18px);
  }
}

/* @media (max-width: 720px) {
  .about {
    padding: 36px 14px;
  }
  .about__photo {
    width: 240px;
    height: 240px;
  }

  .about__badge {
    font-size: 12px;
    padding: 8px 10px;
  }
} */
