.footer {
  max-width: 1440px;
  place-self: center;
}
.footerTxt {
  margin: 100px 0px 100px;
  line-height: 2;
  text-align: center;
}
.footerTxt h1 {
  font-family: "Leteef";
  font-size: 48px;
  font-weight: 400;
  color: #000;
}
.footerTxt p {
  font-family: "Leteef";
  font-size: 36px;
  font-weight: 400;
  color: #000;
}
.mapWrap {
  width: 100%;
  max-width: 1440px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.mapWrap iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  max-width: 1440px;
  height: 100%;

  max-height: 200px;
}
@media (max-width: 1200px) {
  .footerTxt h1 {
    font-family: "Leteef";
    font-size: 36px;
    font-weight: 400;
    color: #000;
  }
  .footerTxt p {
    font-family: "Leteef";
    font-size: 27px;
    font-weight: 400;
    color: #000;
  }
}
@media (max-width: 720px) {
  .footerTxt h1 {
    font-family: "Leteef";
    font-size: 30px;
    font-weight: 400;
    color: #000;
  }
  .footerTxt p {
    font-family: "Leteef";
    font-size: 18px;
    font-weight: 400;
    color: #000;
  }
  .footerTxt {
    margin: 50px 0px 50px;
  }
}
