.career {
  background: transparent;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.title {
  background: transparent;
  color: #c9ab66;
  font-weight: 700;
  text-align: center;
  font-size: 48px;
}
.timeLineList {
  display: grid;
  grid-template-columns: 1fr 50px 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  position: relative;
  list-style: none;
  margin: 0;
  margin-top: 50px;
  margin-bottom: 50px;
  row-gap: 50px;
  padding: 0;
  background: transparent;
}

.tItem {
  display: contents;
  background: transparent;
}

.card {
  background: #fff;
  border-radius: 16px;
  padding: 18px 20px;
  min-width: 100px;
}

.card.left {
  grid-column: 1;
  justify-self: end;
  border-top-left-radius: 28px;
  background: #c9a961;
  background: linear-gradient(
    139deg,
    rgba(201, 169, 97, 1) 5%,
    rgba(255, 255, 255, 1) 30%
  );
}
.card.right {
  grid-column: 3;
  justify-self: start;
  border-top-right-radius: 28px;
  background: #c9a961;
  background: linear-gradient(
    221deg,
    rgba(201, 169, 97, 1) 5%,
    rgba(255, 255, 255, 1) 30%
  );
}
.card.right-2 {
  grid-column: 3;
  grid-row: 4;
  justify-self: start;
  border-top-right-radius: 28px;
  background: #c9a961;
  background: linear-gradient(
    221deg,
    rgba(201, 169, 97, 1) 5%,
    rgba(255, 255, 255, 1) 30%
  );
}
.card.right-3 {
  grid-column: 3;
  grid-row: 6;
  justify-self: start;
  border-top-right-radius: 28px;
  background: #c9a961;
  background: linear-gradient(
    221deg,
    rgba(201, 169, 97, 1) 5%,
    rgba(255, 255, 255, 1) 30%
  );
}

/* Мелкие стили текста */
.eyebrow {
  font-weight: 700;
  background: transparent;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-size: 12px;
  margin-bottom: 6px;
}
.card h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 6px;
  background: transparent;
  text-align: center;
}
.card h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.1;
  background: transparent;
  text-align: center;
}
.card p {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.1;
  background: transparent;
  text-align: center;
}

/* Точки на линии */
.dot {
  grid-column: 2;
  place-self: center; /* горизонталь + вертикаль */

  align-self: center;
  justify-self: center;
  width: 18px;
  height: 18px;
  background-color: #c9a961;
  border: 3px solid #d9d9d9;
  box-shadow: 0 0 3px #c9a961;

  border-radius: 50%;

  transform: none;
}
.dotOut {
  grid-column: 2;
  place-self: center;
  width: 23px;
  height: 23px;
  background-color: #c9a961;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0;
  transform: none;
  position: relative;
}
.dotOutNoline {
  grid-column: 2;
  place-self: center;
  width: 23px;
  height: 23px;
  background-color: #c9a961;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0;
  transform: none;
  position: relative;
}
.dotOut::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 110px;
  background: #c9a961;
}
.dotOut::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 80px;
  background: #c9a961;
}
.dotOutNoline::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 50px;
  background: #c9a961;
}
@media (max-width: 720px) {
  .card h3 {
    font-size: 10px;
  }
  .card h2 {
    font-size: 10px;
  }
  .card p {
    font-size: 10px;
  }
  .timeLineList {
    margin-left: 10px;
    margin-right: 10px;
  }
  .title {
    font-size: 28px;
  }

  .dotOut::after {
    width: 4px;
  }
  .dotOut::before {
    width: 4px;
  }
  .dotOutNoline::before {
    width: 4px;
  }
}
